[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prabaharanmech
[access "refs/for/refs/*"]
	read = group user/prabaharanmech
	push = group user/prabaharanmech
	label-Code-Review = -2..+2 group user/prabaharanmech
	label-Verified = -1..+1 group user/prabaharanmech
	rebase = group user/prabaharanmech
	removeReviewer = group user/prabaharanmech
	submit = group user/prabaharanmech
[access "refs/heads/*"]
	read = group user/prabaharanmech
	create = group user/prabaharanmech
	push = +force group user/prabaharanmech
	pushMerge = group user/prabaharanmech
[access "refs/tags/*"]
	push = group user/prabaharanmech
	push = +force group user/prabaharanmech
